@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-image: url(/Assets//Imgs/youtube\ logo.jpg);
    backdrop-filter: blur(5px);
}
header {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgba(0,0,0,.7);
    z-index: 2;
}
footer {
    height: 25vh;
    width: 100%;
    background-color: black;
}
  div.gradient {
    position: absolute;
    right: 0;
    bottom: -1px;
    width: 100%;
    height: 50%;
    z-index: 2;
    background: linear-gradient(rgba(176, 175, 175, 0), rgba( 0, 0,0,1));
    backdrop-filter: blur(5px);
  }


  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #F1F1F1;
    width: 100%;
    padding: 20px;
  }
  body{
    background-color: #333;
  }
  body::-webkit-scrollbar {
    width: 15px;
    border-radius: 50px;
    background-color: #333;
  }
  body::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 50px;
    /* border: 1px solid rgb(35, 255, 163); */
  }
  body::-webkit-scrollbar-thumb {
    background-color: rgb(35, 255, 163);
    border-radius: 50px;
    border: 1px solid black;
    box-shadow:  inset 0.1em 0.1em 0.1em 0 rgba(200,200,200,0.5), inset -0.1em -0.1em 0.1em 0 rgba(0,0,0,0.5);
  }
  #myImage {
    display:none;
}
header{
  font-family: 'Bebas Neue', cursive;
  font-size: x-large;
}
.contact{
    padding: 1rem;
}
input[type=submit] {
    color: white;
    background-color: #808080;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
}
input[type=text] {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
}
input[type=number] {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
}
input:hover[type=text] {
    border: none;
    border: 4px;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
}
textarea:hover {
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
}
.button{
    padding-bottom: 2rem;
}
@media only screen and (max-width: 235px) {
    footer {
        word-wrap: break-word;
        word-break: break-all;
    }
}
@media only screen and (max-width: 800px) {
    #myVideo {
        display: none;
    }
    #myImage {
        
        display:block;
    }
}