@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-toggler-icon {
  /* background-image: url("data:image/svg+xml;charset=utf8, %3Csvg viewBox='0 0 32 32  xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)'' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); */
  
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: rgba(0,0,0,.7);
    z-index: 2;
}
.video-main {
    height: 100vh;
    width: 100%;
    background: gray;
    box-sizing: border-box;
    /* background: linear-gradient(rgba(176, 175, 175, 0), rgba( 0,0,0,1)); */
}
footer {
    height: 25vh;
    width: 100%;
    background-color: black;
}
/* video styling */
#myVideo {
    position: relative;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: cover;
    scroll-margin: 10vh;
    background-position: center;
    object-fit: cover;
  }
  div.gradient {
    position: absolute;
    right: 0;
    bottom: -1px;
    width: 100%;
    height: 50%;
    z-index: 2;
    background: linear-gradient(rgba(176, 175, 175, 0), rgba( 0, 0,0,1));
  }
/* video styling */
#myImage {
  position: relative;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-size: cover;
  scroll-margin: 10vh;
  background-position: center;
  object-fit: cover;
}
div.gradient {
  position: absolute;
  right: 0;
  bottom: -5px;
  width: 100%;
  height: 50%;
  z-index: 2;
  background: linear-gradient(rgba(176, 175, 175, 0), rgba( 0, 0,0,1));
}
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #F1F1F1;
    width: 100%;
    padding: 20px;
  }
  body{
    background-color: #333;
  }
  body::-webkit-scrollbar {
    width: 15px;
    border-radius: 50px;
    background-color: #333;
  }
  body::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 50px;
    /* border: 1px solid rgb(35, 255, 163); */
  }
  body::-webkit-scrollbar-thumb {
    background-color: rgb(35, 255, 163);
    border-radius: 50px;
    border: 1px solid black;
    box-shadow:  inset 0.1em 0.1em 0.1em 0 rgba(200,200,200,0.5), inset -0.1em -0.1em 0.1em 0 rgba(0,0,0,0.5);
  }
  #myImage {
    display:none;
}
header{
  font-family: 'Bebas Neue', cursive;
  font-size: x-large;
}
@media only screen and (max-width: 235px) {
    footer {
        word-wrap: break-word;
        word-break: break-all;
    }
}
@media only screen and (max-width: 800px) {
    #myVideo {
        display: none;
    }
    #myImage {
        display:block;
    }
}












